.orderpage {
  padding-bottom: 50px;
  font-family: "Roboto Condensed", serif;
}
header {
  background-color: #ce2829;
  height: 5.5rem;
  padding-top: 1.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30%;
  min-width: 500px;
}
.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 30%;
  min-width: 500px;
}
.container-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 25px auto;
  width: 60%;
}
.container-main {
  background-color: #faf7f2;
}
.header-h1 {
  margin-bottom: 3rem;
  color: #faf7f2;
}
nav {
  display: flex;
  gap: 10px;
  width: 100%;
}
nav a {
  text-decoration: none;
  color: black;
  font-family: "Barlow", serif;
}
select {
  border: 0;
}
.homepage-main {
  background-image: url("../images/iteration-1-images/home-banner.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 20px;
  text-align: center;
  font-family: "Roboto Condensed", serif;
}
.homepage img {
  width: 12vw;
  height: auto;
  margin-bottom: 1rem;
}
.success {
  background-color: #ce2829;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 20px;
  text-align: center;
  font-family: "Roboto Condensed", serif;
  overflow: auto;
}
.success .container .display-1 p:last-child {
  font-size: 3rem;
}
.success p {
  margin-bottom: 0.8rem;
}
.order-title {
  font-family: "Satisfy", serif;
  color: #fdc913;
  font-size: 2rem;
}
.order-summary-table {
  border: 1px solid white;
  border-radius: 0.5rem;
  justify-content: center;
  width: 50%;
}
.card-1 {
  border: 1px solid lightgray;
  border-radius: 15px;
  height: 400px;
  padding: 1.4rem;
  color: white;
}
.card-2 {
  border: 1px solid lightgray;
  border-radius: 15px;
  height: 190px;
  padding: 1.4rem;
  color: white;
}
.bg {
  background-size: 110%;
}
.cardGroup {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.nav-title {
  font-family: "Satisfy", serif;
  color: #ce2829;
  font-size: 2rem;
}
.options-button {
  background-color: #faf7f2;
  border: none;
  border-radius: 25px;
  width: 40px;
  height: 40px;
}
.active {
  background-color: #292929;
  color: white;
}
.form-select {
  background-color: #faf7f2;
  border: none;
  border-radius: 15px;
}
.form-select select {
  background-color: unset;
  -webkit-appearance: none; /* Safari ve Chrome için */
  -moz-appearance: none; /* Firefox için */
  appearance: none; /* Diğer tarayıcılar için */
  background: none;
}
.textarea {
  background-color: #faf7f2;
}
/* CHECKBOX KISMI:*/
.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}
.checkbox-container input {
  display: none; /* Varsayılan checkbox'u gizle */
}
.custom-checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-right: 8px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.checkbox-container input:checked + .custom-checkbox {
  background-color: #ffc107; /* Sarı renk */
  border-color: #ffc107;
}
.checkbox-container input:checked + .custom-checkbox::before {
  content: "✓";
  color: #292929; /*tıklanınca gelen tik*/
  font-size: 16px;
}

/*MEDIA QUERY*/
@media (max-width: 768px) {
  .homepage-main {
    background-position: center;
  }
  .main p {
    font-size: 50px;
    padding-top: 10px;
  }
  .container-home {
    margin: 5px 5px;
    width: unset;
  }
  .home-navbar img {
    width: 30px;
  }
  .home-navbar p {
    display: none;
  }
  .cardGroup h2 {
    font-size: 20px;
  }
  .card-1 {
    height: 300px;
    background-size: 180%;
  }
  .card-2 {
    height: 140px;
    background-size: 150%;
    padding: 0.5rem;
  }
  .cardGroup {
    gap: 3px;
  }
  .container-home h1 {
    font-size: 20px;
  }
  .home-options img {
    width: 30px;
  }
  .home-options p {
    display: none;
  }
  header img {
    width: 250px;
  }
  .container {
    width: 100%;
    min-width: 100%;
  }
  .container-main img {
    width: 100%;
  }
  header {
    height: 4.5rem;
  }
  .success {
    padding-top: 30px;
  }
  .text-start {
    text-align: unset;
  }
  .success .mb-5 {
    margin-bottom: unset;
    width: unset !important;
  }
  .success .p-5 {
    padding: 1rem !important;
  }
}
